@import "mixins";
@import "fonts";
@import "variables";

/*Общий CSS*/
body{
	font-size: 100%;
	font-weight: normal;
	font-family: "Century Gothic";
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.text-blue{
	color:$text-blue;
}

.text-white{
	color:$white;
}

.text-pink{
	color:$text-pink;
}

h2{
	font-size: 6em;
	font-family: "Rumpelstiltskin";
	text-align: center;
	display: block;
    width: 25%;
    margin: 5% auto;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    line-height: 1em;
}

h3{
	text-align: center;
	font-family: "Rumpelstiltskin";
	font-size: 4em;
	margin:0;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

section{
	width: 100%;
	height: 99vh;
	position: relative;
	overflow: hidden;
}

.img-abs{
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0;
}

img.responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

.float-left{
	float: left;
}

/*Верхний блок*/
header{
	width: 100%;
	height: 100vh;
	background-image: url('../img/background-inverted.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	nav{
		background-color: transparent;
		width: 100%;
		text-align: center;
		font-size: 2em;
		ul{
			display: block;
			margin: 0;
			li{
				float: left;
				display: block;
				padding: 1em 5em;
				a{
					text-decoration: none;
					color: $blue;
				}
			}
		}
	}

	.cheff{
		background-image: url('../img/headercheff.png');
		z-index: 3;
		left: 2vw;
		bottom: 0;
		width: 45vw;
		height: 88vh;
	}
	
	.mart{
		background-image: url('../img/mart.png');
		z-index: 2;
		right: 0;
		bottom: 10vh;
		width: 60vw;
		height: 70vh;
	}

}

/*Блоки продукции*/
.triangle{
	@include triangle-down(92vh,105.4vw,$blue);
	&.detail{
		z-index: 5;
		right: -110%;
		transition: right 0.5s ease;
		.container{
			left: -50vw;
    		top: -5vh;
		}
		&.show{
			right: 0;
		}
	}
	&.white{
		border-color: transparent transparent $white;
	}
	&.pink{
		border-color: transparent transparent $pink;
	}
}

.triangle-up{
	@include triangle-up(94vh,107.4vw,$blue);
	&.detail{
		z-index: 5;
		left: -110%;
		transition: left 0.5s ease;
		.container{
			left: 2vw;
			top: -92vh;
		}
		&.show{
			left: 0;
		}
	}
	&.white{
		border-color: $white transparent transparent;
	}
	&.pink{
		border-color: $pink transparent transparent;
	}
}

.detail .container{
	padding: 5em 5em;
    position: relative;
    width: 40vw;
    height: 80vh;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: #ffff;
    display: inline-block;
    border-radius: 20px;
    vertical-align: middle;
}

.crossed{
	cursor: pointer;
	&.pink{
		background-color: $pink;
		@include background-after('../img/background.png',100%,100%);
	}
	&.blue{
		background-color: $blue;
		@include background-after('../img/background3.png',100%,100%);
	}
	&.white{
		background-color: $white;
		@include background-after('../img/background2.png',102%,100%);
	}

	.text-wrap{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $pink;
		z-index: 5;
		margin: 0;
		overflow: hidden;
		&.top{
			top:0;
			left:0;
		}
	}

	.card{
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 40vh;
		.svg-wrap{
			position: absolute;
			width:30%;
			&.top{
				top: 25%;
				left: 5%;

				&.top5{
					top: 5%;
				}
			}
			&.bottom{
				bottom: 25%;
				right: 5%;
				&.bottom5{
					width: 35%;
					bottom: 5%;
				}
				&.hk-fix{
					bottom:5%;
					width: 25%;
				}
			}
		}

		&.card-bottom{
			bottom: 0;
		}
	}
}

/*О нас*/
.about{
	background-color: $blue;
	text-align: center;
	p{
		margin: 0;
		line-height: 2em;
	}
	.container{
		padding: 2em 12em;
	}
	hr{
		margin: 10em 12em;
    	display: block;
    	border: 1px solid;
	}
}

footer{
	display: grid;
	padding: 2em 12em;
	grid-template-columns:1fr 2fr 1fr;
	grid-auto-rows: 1fr;
	background-color: $blue;
	height: 150px;

	.contacts-wrap{
		a{
			display: block;
			font-size: 1.5em;
			line-height: 1.5em;
			width: 100%;
			text-decoration: none;
			color: $white;
			&:hover{
				text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
			}
		}
	}

	.social-wrap{
		text-align: center;
		.social{
			display: block;
			float: left;
			width: 60px;
			height: 60px;
			border: 2px solid $white;
			background-color: transparent;
			border-radius: 50%;
			background-size: 80%;
			background-position: center;
			background-repeat: no-repeat;
			margin-left: 10px;
			transition: transform 0.5s linear;
			&.fb{
				background-image: url('../img/social/fb.png');
			}
			&.tw{
				background-image: url('../img/social/tw.png');
			}
			&.wa{
				background-image: url('../img/social/wa.png');
			}
			&.inst{
				background-image: url('../img/social/inst.png');
			}
			&:hover{
				transform: rotate(360deg);
			}
		}
	}
}

.copyright{
	background-color: $blue;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	color: $white;
	display: block;
	width: 100%;
}