@charset "UTF-8";
/*Треугольник*/
@font-face {
  font-family: "Rumpelstiltskin";
  src: url("../fonts/Rumpelstiltskin/Rumpelstiltskin.eot?#iefix") format("embedded-opentype"), url("../fonts/Rumpelstiltskin/Rumpelstiltskin.woff") format("woff"), url("../fonts/Rumpelstiltskin/Rumpelstiltskin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/Century Gothic/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/Century Gothic/CenturyGothic.woff") format("woff"), url("../fonts/Century Gothic/CenturyGothic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/*Colors*/
/*Общий CSS*/
body {
  font-size: 100%;
  font-weight: normal;
  font-family: "Century Gothic";
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

.text-blue {
  color: #7cbbcd; }

.text-white {
  color: #fff; }

.text-pink {
  color: #c394c0; }

h2 {
  font-size: 6em;
  font-family: "Rumpelstiltskin";
  text-align: center;
  display: block;
  width: 25%;
  margin: 5% auto;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  line-height: 1em; }

h3 {
  text-align: center;
  font-family: "Rumpelstiltskin";
  font-size: 4em;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

section {
  width: 100%;
  height: 99vh;
  position: relative;
  overflow: hidden; }

.img-abs {
  position: absolute;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  margin: 0; }

img.responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.float-left {
  float: left; }

/*Верхний блок*/
header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background-inverted.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  position: relative; }
  header nav {
    background-color: transparent;
    width: 100%;
    text-align: center;
    font-size: 2em; }
    header nav ul {
      display: block;
      margin: 0; }
      header nav ul li {
        float: left;
        display: block;
        padding: 1em 5em; }
        header nav ul li a {
          text-decoration: none;
          color: #7cbbcd; }
  header .cheff {
    background-image: url("../img/headercheff.png");
    z-index: 3;
    left: 2vw;
    bottom: 0;
    width: 45vw;
    height: 88vh; }
  header .mart {
    background-image: url("../img/mart.png");
    z-index: 2;
    right: 0;
    bottom: 10vh;
    width: 60vw;
    height: 70vh; }

/*Блоки продукции*/
.triangle {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent transparent #7cbbcd;
  border-width: 0 0 92vh 92vh;
  border-width: 0 0 92vh 105.4vw;
  position: absolute;
  bottom: 0;
  right: 0; }
  .triangle.detail {
    z-index: 5;
    right: -110%;
    -webkit-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease; }
    .triangle.detail .container {
      left: -50vw;
      top: -5vh; }
    .triangle.detail.show {
      right: 0; }
  .triangle.white {
    border-color: transparent transparent #fff; }
  .triangle.pink {
    border-color: transparent transparent #f1dbe5; }

.triangle-up {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: #7cbbcd transparent transparent;
  border-width: 94vh 94vh 0 0;
  border-width: 94vh 107.4vw 0 0;
  position: absolute;
  top: 0;
  left: 0; }
  .triangle-up.detail {
    z-index: 5;
    left: -110%;
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease; }
    .triangle-up.detail .container {
      left: 2vw;
      top: -92vh; }
    .triangle-up.detail.show {
      left: 0; }
  .triangle-up.white {
    border-color: #fff transparent transparent; }
  .triangle-up.pink {
    border-color: #f1dbe5 transparent transparent; }

.detail .container {
  padding: 5em 5em;
  position: relative;
  width: 40vw;
  height: 80vh;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffff;
  display: inline-block;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  vertical-align: middle; }

.crossed {
  cursor: pointer; }
  .crossed.pink {
    background-color: #f1dbe5; }
    .crossed.pink::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      z-index: 2;
      background-image: url("../img/background.png"); }
  .crossed.blue {
    background-color: #7cbbcd; }
    .crossed.blue::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      z-index: 2;
      background-image: url("../img/background3.png"); }
  .crossed.white {
    background-color: #fff; }
    .crossed.white::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-background-size: 102% 100%;
              background-size: 102% 100%;
      z-index: 2;
      background-image: url("../img/background2.png"); }
  .crossed .text-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f1dbe5;
    z-index: 5;
    margin: 0;
    overflow: hidden; }
    .crossed .text-wrap.top {
      top: 0;
      left: 0; }
  .crossed .card {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 40vh; }
    .crossed .card .svg-wrap {
      position: absolute;
      width: 30%; }
      .crossed .card .svg-wrap.top {
        top: 25%;
        left: 5%; }
        .crossed .card .svg-wrap.top.top5 {
          top: 5%; }
      .crossed .card .svg-wrap.bottom {
        bottom: 25%;
        right: 5%; }
        .crossed .card .svg-wrap.bottom.bottom5 {
          width: 35%;
          bottom: 5%; }
        .crossed .card .svg-wrap.bottom.hk-fix {
          bottom: 5%;
          width: 25%; }
    .crossed .card.card-bottom {
      bottom: 0; }

/*О нас*/
.about {
  background-color: #7cbbcd;
  text-align: center; }
  .about p {
    margin: 0;
    line-height: 2em; }
  .about .container {
    padding: 2em 12em; }
  .about hr {
    margin: 10em 12em;
    display: block;
    border: 1px solid; }

footer {
  display: grid;
  padding: 2em 12em;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: 1fr;
  background-color: #7cbbcd;
  height: 150px; }
  footer .contacts-wrap a {
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
    width: 100%;
    text-decoration: none;
    color: #fff; }
    footer .contacts-wrap a:hover {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  footer .social-wrap {
    text-align: center; }
    footer .social-wrap .social {
      display: block;
      float: left;
      width: 60px;
      height: 60px;
      border: 2px solid #fff;
      background-color: transparent;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-background-size: 80% 80%;
              background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 10px;
      -webkit-transition: -webkit-transform 0.5s linear;
      transition: -webkit-transform 0.5s linear;
      -o-transition: transform 0.5s linear;
      transition: transform 0.5s linear;
      transition: transform 0.5s linear, -webkit-transform 0.5s linear; }
      footer .social-wrap .social.fb {
        background-image: url("../img/social/fb.png"); }
      footer .social-wrap .social.tw {
        background-image: url("../img/social/tw.png"); }
      footer .social-wrap .social.wa {
        background-image: url("../img/social/wa.png"); }
      footer .social-wrap .social.inst {
        background-image: url("../img/social/inst.png"); }
      footer .social-wrap .social:hover {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg); }

.copyright {
  background-color: #7cbbcd;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%; }
